<div class="mb-8">
  <h1 class="font-bold pb-1 text-center text-xl">Supplier Masterlist</h1>
  <hr />
  <form>
    <div class="flex justify-around align-middle py-2">
      <div>
        <label class="mr-2">Supplier</label>
        <input type="radio" />
      </div>
      <div>
        <label class="mr-2">Item</label>
        <input type="radio" />
      </div>
    </div>
    <div class="flex justify-center align-middle">
      <app-input
        type="search"
        placeholder="Search item or supplier"
        class="w-full"
      ></app-input>
      <button
        type="submit"
        class="bg-blue-500 hover:bg-blue-600 text-white w-20"
      >
        Search
      </button>
    </div>
  </form>
</div>

<!-- Add Supplier Button -->
<div class="flex justify-center align-middle">
  <button
    class="bg-blue-500 hover:bg-blue-600 text-white rounded-lg p-0.5 w-1/2"
    (click)="addSupplier()"
  >
    Add Supplier
  </button>
</div>

<app-supplier [supplierModalTitle]="modalTitle"></app-supplier>
