<app-modal modalID="supplier">
  <p class="text-xl font-bold" heading>{{ supplierModalTitle }}</p>
  <ng-container *ngIf="supplierAction === 'isAdd'">
    <div class="w-64">
      <form [formGroup]="supplierForm" (ngSubmit)="submitAddSupplier()">
        <div class="mb-4">
          <app-input
            [control]="name"
            type="text"
            placeholder="Supplier Name"></app-input>
        </div>
        <div class="mb-4">
          <app-input
            [control]="address"
            type="text"
            placeholder="Address"></app-input>
        </div>
        <div class="mb-4">
          <app-input
            [control]="contactNumber"
            type="text"
            placeholder="Contact Number"></app-input>
        </div>
        <div class="mb-4">
          <app-input
            [control]="contactEmail"
            type="email"
            placeholder="Contact Email"></app-input>
        </div>
        <hr/>
        <!--      <p class="text-xl font-bold">Items</p>-->
        <!--      <div formGroupName="items">-->
        <!--        <label>Item Name:</label>-->
        <!--        <app-input-->
        <!--          [control]="itemName"-->
        <!--          type="text"-->
        <!--          placeholder="Item Name"></app-input>-->
        <!--        <label>Price/Unit</label>-->
        <!--        <app-input-->
        <!--          [control]="pricePerUnit"-->
        <!--          type="text"-->
        <!--          placeholder="Price/Unit"></app-input>-->
        <!--        <label>MOQ:</label>-->
        <!--        <app-input-->
        <!--          [control]="moq"-->
        <!--          type="text"-->
        <!--          placeholder="MOQ"></app-input>-->
        <!--      </div>-->
        <!--      <button type="button" (click)="addItem()">Add Item</button>-->
        <button
          [disabled]="supplierForm.invalid"
          type="submit"
          class="w-full bg-blue-500 text-white rounded-lg p-0.5 hover:bg-blue-600 disabled:opacity-50"
        >
          Submit
        </button>
      </form>
    </div>
  </ng-container>

  <ng-container *ngIf="supplierAction === 'isView'">
    <div class="flex flex-col w-64">
      <div class="flex flex-col align-middle justify-between">
        <h1 class="font-bold pb-1">Supplier Name:</h1>
        <p class="pb-4 font-light">{{supplierName}}</p>
      </div>
      <div class="flex flex-col align-middle justify-between">
        <h1 class="font-bold pb-1">Supplier Address:</h1>
        <p class="pb-4 font-light">{{supplierAddress}}</p>
      </div>
      <div class="flex flex-col align-middle justify-between">
        <h1 class="font-bold pb-1">Contact Number:</h1>
        <p class="pb-4 font-light">{{supplierNumber}}</p>
      </div>
      <div class="flex flex-col align-middle justify-between">
        <h1 class="font-bold pb-1">Contact Email:</h1>
        <p class="pb-4 font-light">{{supplierEmail}}</p>
      </div>

      <div class="flex justify-center align-middle">
        <a
          class="text-red-500 font-light hover:cursor-pointer"
          (click)="deleteSupplier($event)"
        >
          Delete Supplier</a>
      </div>
    </div>
  </ng-container>

</app-modal>
